<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
<style>
.logo {
   font-size: 100px;
   padding: 50px;
   font-family: 'Montserrat', sans-serif;
   text-align: center;
   background: white;
   box-shadow: 0 20px 20px rgba(0,0,0,0.05), 0 6px 6px rgba(0,0,0,0.23);
}
 }
</style>


<% if user_signed_in? %>

<!--
<br/>
<br/>

  <div class="container-fluid">
    <form class="d-flex" action="/search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>

  <br/>
  <br/>
-->
  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Twitter</th>
        <!--<th>User ID</th>-->
        <th>Type</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @friends.each do |friend| %>
      <% if friend.user == current_user %>
        <tr>
          <td><%= link_to friend.first_name + " " + friend.last_name, friend %></td>
          <td><%= link_to friend.email, "mailto::" + friend.email, target: "_blank" %></td>
          <td><%= link_to friend.twitter, "https://www.twitter.com/" + friend.twitter, target: "_blank" %></td>
          <!--<td><%= friend.user_id %></td>-->
          <!--<td><%= link_to 'Edit', edit_friend_path(friend), class:"btn btn-outline-secondary btn-sm" %></td>-->
          <td><%= friend.friend_type %></td>
          <td><%= link_to 'Delete', friend, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger btn-sm" %></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Friend', new_friend_path, class:"btn btn-dark" %>

<% else %>
<div class="logo">
FRIENDS
</div>
<br/>
<br/>
<h1>If you are here, it means you are a dear friend of mine. </h1>
<br/>
<p>This is my first app. I am starting to learn a basic CRUD.</p>
<p>This is a very simple thing where you can manage a list of your friends.</p>
<% end %>
