<div class="card">
  <div class="card-header">
    Friend
  </div>
  <div class="card-body">
     <h5 class="card-title"><%= @friend.first_name %> <%= @friend.last_name %></h5>
    <br>
    <p class="card-text"><%= @friend.email %></p>
    <p class="card-text"><%= @friend.twitter %></p>
    <%= link_to 'Edit', edit_friend_path(@friend), class:"btn btn-light" %>
    <%= link_to 'Back', friends_path, class:"btn btn-light" %>
  </div>
</div>
